/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  border-top: medium solid #00BD8A;
}

h1 {
  font-family:'Lato', Helvetica, Arial, sans-serif;
  font-weight:300;
  padding-left:1em;
  font-size:2.5em;
  line-height:3em;
  letter-spacing:1.25em;
  color:#303030;
}

h2 {
  font-family:'Lato', Helvetica, Arial, sans-serif;
  font-weight:300;
  letter-spacing:0.1875em;
  font-size:1.5em;
  padding-left:1em;
  color:#303030;
}

header {
  text-align:center;
  height:40em;
  width:100%;
  background:#E9FFF9;
}

.header-text {
  padding-top:13em;
}

.photo-grid {
  width:95%;
  max-width:60em;
  margin: 0 auto;
  padding-top:0.9375em;
  padding-bottom:5em;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:flex-start;
}

.photo-grid figure {
  padding:0.9375em;
}
