---
---

// Variables
$font-stack:        'Lato', Helvetica, Arial, sans-serif;
$primary-color:     #00BD8A;
$background-accent: #E9FFF9;

// Imports
@import "reset";
@import "typography";
@import "header";
@import "footer";
@import "underwood-style";

html {
  border-top: medium solid $primary-color;
}

.content-width {
  width:95%;
  max-width:60em;
  margin:0 auto;
}

main {
  margin:1em;
}

a {
  &:hover, &:link, &:active, &:visited {
    color:303030;
    text-decoration:none;
  }
}
