---
---

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Color
$black: #000;
$white: #FFF;
$dark-gray: #191919;
$gray: #292929;
$light-gray: #737373;
$lighter-gray: #B5B5B5;
$accent-color: #81d8d0;

// Typography
$font-size: 14;
$leading: 1.375;
$little-p: 0.9; // a smaller setting of paragraph text

// Layout
$gutter: $leading + 0rem;
$half-gutter: $leading / 2 + 0rem;
$row: $leading * 7 + 0rem;
$layout-width: 75; // the maximum width of the site in ems

// Elements
$rule: 1px solid $lighter-gray;

// Imports
@import 'normalize';
@import 'layout';
@import 'typography';

.image-outline {
  border: $rule;
}

// Custom Text Selection Color
::selection {
  background: $accent-color;
}
::-moz-selection {
  background: $accent-color;
}

#return-space {
  padding-top:$gutter;
}
