<footer>
  <div class="rule"></div>
  <p><a href="mailto:jacob.berchem@gmail.com" class="social-email">jacob.berchem@gmail.com</a></p>
  <div class="social-links">
    <a href="https://www.behance.net/jakeberk"target="_blank" ><i class="social-icons social-icons-behance"></i></a>
    <a href="https://dribbble.com/jakeberk"target="_blank" ><i class="social-icons social-icons-dribbble"></i></a>
    <a href="https://twitter.com/jakeberk"target="_blank" ><i class="social-icons social-icons-twitter"></i></a>
    <a href="https://www.instagram.com/jakeberk/"target="_blank" ><i class="social-icons social-icons-instagram"></i></a>
    <a href="https://www.linkedin.com/in/jakeberk"target="_blank" ><i class="social-icons social-icons-linkedin"></i></a>
  </div>
</footer>
