<head>
  <script src="https://use.typekit.net/bbp4pzm.js" async></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fonticons.com/97a498a0.js" async></script>
  <script>
    document.createElement( "picture" );
  </script>
  <script src="/assets/picturefill.min.js" async></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Jacob Berchem - {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="/css/styles.css">
</head>
