<section class="photo-grid">
  <figure>
    <img src="/images/rectangle-1.png" alt="Portfolio Piece 1">
  </figure>
  <figure>
    <img src="/images/rectangle-2.png" alt="Portfolio Piece 2">
  </figure>
  <figure>
    <img src="/images/rectangle-4.png" alt="Portfolio Piece 4">
  </figure>
  <figure>
    <img src="/images/rectangle-5.png" alt="Portfolio Piece 5">
  </figure>
  <figure>
    <img src="/images/rectangle-6.png" alt="Portfolio Piece 6">
  </figure>
  <figure>
    <img src="/images/rectangle-7.png" alt="Portfolio Piece 7">
  </figure>
</section>
