footer {
  padding:3.5em 5em;

  a {
    float:left;
    padding-left:1em;
  }

  h4 {
    float:right;
    text-align:right;
    padding-top:0.5em;
  }

}

// Sprite Images
$sprite-size:      30px;
$neg-sprite-size: -30px;

.icon {
  display:inline-block;
  width:$sprite-size;
  height:$sprite-size;
  background-repeat:no-repeat;
  background-position:0 0;

  &:hover {
    background-position:0 $neg-sprite-size;
  }

  &:active {
    background-position:0 $neg-sprite-size;
  }
}

#behance {
  background-image: url("/images/behance.png");
}

#twitter {
  background-image: url("/images/twitter.png");
}

#github {
  background-image: url("/images/github.png");
}

#dribbble {
  background-image: url("/images/dribbble.png");
}
