footer {
  margin:0 auto;
  width:100%;
  max-width:22em;
  padding:10em 0 5em 0;
  text-align:center;

  a {
    margin:0 0.875em 1em 0.875em;
  }
}

// Sprite Images
.icon {
  display:inline-block;
  width:48px;
  height:48px;
  background-repeat:no-repeat;
  background-position:0 0;

  &:hover {
    background-position:0 -48px;
  }

  &:active {
    background-position:0 -48px;
  }
}

#behance {
  background-image: url("/images/behance.png");
}

#twitter {
  background-image: url("/images/twitter.png");
}

#github {
  background-image: url("/images/github.png");
}

#dribbble {
  background-image: url("/images/dribbble.png");
}

@media (max-width: 360px) {
  footer {
    a {
      margin:0 0.325em 0.5em 0.325em;
    }

    h4 {
      font-size:0.675em;
    }
  }
}
