header {
  text-align:left;
  background:$background-accent;
  padding-top:8em;
  width:100%;
  height:30em;

  #header-container {
    display:block;

    h1,h2,nav {
      display:inline;
    }

    h1 {
      padding-right:0.125em;
    }

    nav {
      float:right;
      padding-top:0.625em;
      a {
        margin-left:2.5em;
        padding-bottom:0.475em;
        border-bottom:thick solid transparent;
        transition:border-bottom-color 300ms ease-in-out;
        &:hover{
          border-bottom-color:white;
        }
      }
    }
  }
}
