body {
  width:100%;
  max-width:$layout-width + 0rem;
  margin:0 auto;
  padding: 0 $half-gutter;
  img {
    width:100%;
  }
}

.rule {
  width:100%;
  border-top: $rule;
  padding-bottom: $gutter;
}

header {
  min-height:$row;
  margin-top:$row;
  padding:0 $half-gutter;
  h1 {
    float:left;
  }
  nav {
    width:100%;
    float:left;
    h2 {
      margin-right: $gutter;
      padding-top: $gutter;
      float:left;
    }
  }
}

.portfolio-index {
  img {
    width:100%;
    padding:$half-gutter;
    max-width:($layout-width / 2) + 0rem;
  }
  .row {
    width:100%;
    float:left;
    display:table;
    @include flexbox();
    flex-direction:row;
  }
  .half {
    width:50%;
  }
  .quarter {
    width:50%;
  }
  .odd-shape { /* Important for odd-shaped images */
    width:36%;
  }
  .row-4 {
    margin-bottom:$row;
  }
}

.project {
  padding:0 $half-gutter;
  .project-title, .project-description {
    width:100%;
    min-height:$row;
    p {
      max-width:30rem;
      padding-bottom: $leading + 0rem;
    }
  }
  .case-study-section {
    padding-top:$row;
    .project-heading {
      width:100%;
      min-height:1rem;
      padding-bottom: $leading + 0rem;
    }
    .project-description {
      .rule {
        display:none;
      }
    }
    .case-study-images {
      display:flex;
      flex-wrap: wrap;
      div {
        width:100%;
        padding-bottom: $gutter;
        img {
          padding:0;
        }
        iframe {
          width:100%;
          height:166px;
        }
      }
      .iphone-alignment-bump {
        margin-left:-3px;
      }
    }
    .max-width-third-images {
      img {
        max-width:500px;
      }
    }
    .full-width-image {
       flex-wrap: wrap !important;
     }
  }

  .case-study-bump {
    padding-bottom: ($leading * 2) + 0rem;
  }

  .project-first-image {
    padding:0;
  }

  .project-main-image {
    @extend .project-first-image;
    width:100%;
  }

  img {
    padding-top: $gutter;
  }

  .portfolio-image-half {
    width:100%;
    float:left;
  }

  .frac-images {
    img {
      @extend .portfolio-image-half;
    }
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .embed-container-full {
    position: relative;
    padding-bottom: 43%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top:$gutter;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .left-half {
    width:100%;
  }

  .right-three-quarters {
    @extend .project-main-image;
    @extend img;
    float:left;
  }
}

.case-study {
  padding-bottom:$row;
}

.case-study-index {
  margin-bottom:$row;
  display:flex;
  flex-wrap: wrap;
  .case-study-index-description {
    width:100%;
    min-height:$row;
    padding:0 $half-gutter;
    margin-bottom:$row;
    h2 {
      max-width:30rem;
      padding-bottom: $leading + 0rem;
    }
  }
  .case-study-index-links {
    width:100%;
    min-height: $row;
    display:flex;
    .case-study-index-image {
      width:50%;
      padding: $half-gutter;
    }
    .case-study-index-text-link {
      width:50%;
      padding: $half-gutter;
    }
  }
}

.next-project {
  width:100%;
  margin-top: $row;
  min-height: $row;
  float:left;
  i {
    color:$lighter-gray;
  }
}

.text-columns {
  width:100%;
  min-height:$row;
  float:left;
  .full-width {
    padding-bottom:$gutter;
  }
  .left {
    width:100%;
  }
  .right {
    width:100%;
    padding-top:$gutter;
  }
  #second-paragraph {
    padding-top:$gutter;
  }
  p {
    max-width:30rem;
  }
}

.about-text-columns {
  padding-bottom:$row;
}

.project-details {
  margin-top:$row;
  min-height:$row;
}

footer {
  width:100%;
  min-height:$row;
  padding:0 $half-gutter;
  float:left;
  .rule {
    width:100%;
  }
  .social-email {
    width:50%;
    float:left;
  }
  .social-links {
    width:100%;
    float:left;
    padding-top:$leading + 0rem;
  }
}

@media (min-width:20rem) {
  .portfolio-index {
    .odd-shape {
      width:35.25%;
    }
  }
}


@media (min-width:24rem) {
  .portfolio-index {
    .odd-shape {
      width:35%;
    }
  }
}

@media (min-width:28rem) {
  .portfolio-index {
    .odd-shape {
      width:34.75%;
    }
  }
}

@media (min-width:35rem) {
  header {
    nav {
      width:50%;
      float:right;
      padding-left: $half-gutter;
      h2 {
        padding-top:0;
      }
    }
  }
  .portfolio-index {
    .odd-shape {
      width:34.5%;
    }
  }
  .next-project {
    width:50%;
    margin-left:50%;
    padding-left:$half-gutter;
  }
  footer {
    .social-links {
      width:50%;
      float:right;
      padding-left: $half-gutter;
      padding-top:0;
    }
  }
}

@media (min-width: 40rem) {
  .portfolio-index {
    .quarter {
      width:25%;
    }
    .odd-shape {
      width:25%;
    }
    .row {
      width:100%;
      float:left;
      @include flexbox();
      flex-direction:row;
    }
    .row-1 {
      align-items: flex-end;
    }
    .row-2 {
      justify-content:flex-end;
    }
    .row-3 {
      justify-content:center;
    }
  }

  .project {
    .project-main-image {
      max-width:75%;
    }
    .portfolio-image-half {
      width:50%;
    }
    .left {
      padding-right: $half-gutter;
    }
    .right {
      padding-left: $half-gutter;
    }
    .embed-container {
      iframe, object, embed {
        width: 75%;
        height: 75%;
      }
    }
    .left-half {
      width:50%;
    }
    .right-three-quarters {
      float:right;
    }
  }
  .text-columns {
    .left {
      width:50%;
      float:left;
    }
    .right {
      width:50%;
      margin-left:50%;
      padding-top:0;
    }
  }
  .case-study-index {
    justify-content:flex-end;
    .case-study-index-description {
      width:50%;
    }
    .case-study-index-links {
      justify-content: flex-end;
      .case-study-index-image {
        width:25%;
      }
    }
  }
}

@media (min-width: 52rem) {
  .project, .case-study-section {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    width:100%;
    section {
      width:100%;
    }
    .project-title, .project-heading {
      width:50%;
      padding-right: $half-gutter;
    }
    .project-description {
      width:50%;
      padding-left: $half-gutter;
    }
    .case-study-section {
      .project-heading {
        width:50%;
      }
      .project-description .rule {
        display:block!important;
      }
      .case-study-images {
        display:flex;
        flex-wrap:nowrap;
        align-content: flex-end;
        margin: 0 (-1 * $half-gutter);
        div {
          padding: $half-gutter;
        }
      }
      .podcast-included {
        width:110%;
        // justify-content: flex-start;
      }
      .single-image {
        width:75%;
        div {
          width:100%;
          padding-left:0;
        }
      }
    }
  }
  .next-project {
    width:25%;
    margin-left:75%;
    padding-left:$gutter;
  }
  .text-columns {
    .full-width {
      width:50%;
      margin-left:50%;
      padding-left:$half-gutter;
    }
    .left {
      float:left;
      margin-left:50%;
      padding-left:$half-gutter;
    }
    .right {
      float:left;
      margin-left:50%;
      padding-top:$gutter;
    }
  }
  footer {
    .social-email {
      width:25%;
      margin-left:50%;
      padding-left:$half-gutter;
    }
    .social-links {
      width:25%;
      float:right;
      padding-left: $gutter;
    }
  }
}

@media (min-width: 60rem) {
  header nav {
    width:25%;
    padding-left: $gutter;
  }
}
