body {
  width:100%;
  max-width:110rem;
  margin:0 auto;
  padding:0.75rem;
}

header, footer {
  padding:0.75rem;
}

.project-main {
   /* Prevent vertical gaps */
   line-height: 0;
   padding:0 0.75rem 0 0.75rem;

   -webkit-column-count: 1;
   -webkit-column-gap:   1.5rem;
   -moz-column-count:    1;
   -moz-column-gap:      1.5rem;
   column-count:         1;
   column-gap:           1.5rem;
}

.project-main a img, .project-secondary a img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-bottom:1.5rem;
}

.project-secondary {
  /* Prevent vertical gaps */
  line-height: 0;
  padding:0 0.75rem 0 0.75rem;
  
   -webkit-column-count: 2;
   -webkit-column-gap:   1.5rem;
   -moz-column-count:    2;
   -moz-column-gap:      1.5rem;
   column-count:         2;
   column-gap:           1.5rem;
}


.project {
  .text-column, .project-column {
    padding:0.75rem;
    img {
      width:100%;
      padding-bottom:1.25rem;
    }
  }
}


@media (min-width:40rem) {
  p {
    max-width:49.5%;
    padding-right:0.5rem;
  }

  .project-main {
     -webkit-column-count: 2;
     -webkit-column-gap:   1.5rem;
     -moz-column-count:    2;
     -moz-column-gap:      1.5rem;
     column-count:         2;
     column-gap:           1.5rem;
  }

}

@media (min-width:65rem) {
  .text-column {
    width:33.33%;
    float:left;
  }

  .project-column {
    width:66.66%;
    padding:0;
    margin-left:33.33%;
  }

  p {
    max-width:30em;
  }

  .project-main, .project-secondary {
     -webkit-column-count: 3;
     -webkit-column-gap:   1.5rem;
     -moz-column-count:    3;
     -moz-column-gap:      1.5rem;
     column-count:         3;
     column-gap:           1.5rem;
  }
}
