body {
  width:100%;
  max-width:130rem;
  margin:0 auto;
  padding:0.5rem;
}

img {
  padding-top:1rem;
}

nav {
  .double-column {
    display:inline;
    padding-top:1rem;
  }
}

.grid {
  display:flex;
  flex-direction:column;
  padding:0.5rem;
}

.left-column {
  max-width:100%;
  max-height:100%;
}

.double-column {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  img {
    width:100%;
  }
  a {
    width:100%;
  }
}

@media (min-width:40rem) {
  .split-column {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    img {
      width:49.5%;
      height:49.5%;
    }
    a {
      width:49.5%;
      height:49.5%;
      img {
        width:100%;
        height:100%;
      }
    }
  }

  p {
    max-width:49.5%;
    padding-right:0.5rem;
  }
}

@media (min-width:65rem) {
  .grid {
    flex-direction:row;
  }

  .left-column {
    width:33.33%;
    padding-right:0.5rem;
  }

  .double-column {
    width:66.66%;
    padding-left:0.5rem;
  }

  p {
    max-width:30em;
  }
}
