// Flexbox settings for the header layout //
@mixin flex-box-header() {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  align-items:flex-end;
}

//////////////
//  MOBILE  //
//////////////
#navigation-container {
  position:absolute;
  left:0;
  right:0;

  text-align:center;
  padding-top:4.75em;

  #site-title {
    padding-bottom:0.25em;

    h1 {
      padding-bottom:0.275em;
    }
  }

  nav {
    width:auto;
    max-width:18.25em;
    margin:0 auto;
    @include flex-box-header;

    a {
      border-bottom:thick solid transparent;
      transition:border-bottom-color 300ms ease-in-out;

      &:hover{
        border-bottom-color:$white;
      }
    }
  }
}

/////////////////////
//  MEDIUM SCREEN  //
/////////////////////
@media (min-width: 720px) {
  #navigation-container {
    text-align:left;
    padding-top:6em;
    @include flex-box-header;

    #site-title {
      padding-bottom:0.1175em;
    }

    nav {
      width:inherit;
      margin:0;
    }
  }
}

////////////////////
//  LARGE SCREEN  //
////////////////////
@media (min-width: 900px) {
  #navigation-container {
    padding-top:8.75em;

    #site-title {
      padding-bottom:0.45em;

      h1,h2 {
        display:inline;
      }
    }
  }
}
