h1 {
  font-family:$font-stack;
  font-weight:300;
  font-size:2.5em;
  line-height:1.25em;
  color:#303030;
  padding-bottom:0.5em;
}

h2 {
  font-family:$font-stack;
  font-weight:400;
  font-size:1.5em;
  color:#303030;
  padding-bottom:0.5em;
  text-transform:uppercase;
}

#main-header {
  h2 {
    font-weight:100;
  }
}

h3 {
  font-family:$font-stack;
  font-weight:200;
  font-style:italic;
  font-size:1.25em;
  color:#303030;
  padding-bottom:0.5em;
}

h4 {
  font-family:$font-stack;
  font-weight:300;
  font-size:0.875em;
  color:#303030;
  line-height:1.625em;
  padding-bottom:1em;
  letter-spacing:0.015em;
}

p {
  font-family:$font-stack;
  font-weight:300;
  font-size:1em;
  color:#303030;
  line-height:1.625em;
  padding-bottom:1em;
  letter-spacing:0.0025em;
}

header h2 {
  text-transform:none;
}

#portfolio-page-header h2 {
  font-style:italic;
  font-size:1.25em;
}

#underwood-style a {
    font-style:italic; //styles back to top button
}
