html {
  font-size:$font-size + 0px;
  font-family:"aktiv-grotesk","Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size:1rem;
  line-height:$leading;
  font-weight:700;
  color: $dark-gray;
}

h2 {
  font-size:1rem;
  line-height:$leading;
  margin:0;
  font-weight:300;
  color:$light-gray;
}

h3 {
  font-size:1rem;
  line-height:$leading;
  margin:0;
  font-weight:300;
  letter-spacing: 0.02rem;
  color: $dark-gray;
  text-transform: capitalize;
}

p {
  font-size:1rem;
  line-height:$leading;
  margin:0;
  font-weight:300;
  color:$light-gray;
}

.little-p {
  p, h3 {
    font-size:$little-p + 0rem;
    line-height: ($leading * $font-size) / ($little-p * $font-size);
  }
}

a {
  text-decoration: none;
  color:$light-gray;
  @include transition();
  &:hover {
    color: $dark-gray !important;
  }
}

.underlined-link a {
  border-bottom: $rule;
  padding-bottom:0.03rem;
  @include transition();
  &:hover {
    color: $dark-gray;
  }
}

header {
  svg {
    width:12.6rem;
    height: 1.5rem;
    margin-top: -0.3rem;
    fill:$light-gray;
    @include transition();
    &:hover, &:active {
      fill:$accent-color;
    }
  }
}

footer {
  .social-links {
    font-size:1.125rem;
    i {
      color:$lighter-gray;
      padding-right:$half-gutter;
      transition: color 0.25s ease;
      &:hover {
        color: $dark-gray;
      }
    }
  }
}
