---
layout: default
---
<article class="project case-study">
  <section class="project-title">
    <div class="rule"></div>
    <h1>{{ page.title }}</h1>
  </section>
  <section class="project-description">
    <div class="rule"></div>
    <p>{{ page.description }}</p>
  </section>

  {{ content }}

  <div class="next-project underlined-link">
    <div class="rule"></div>
    <p><a href="/case-study/{{page.next-case-study}}">
        Next Case Study
        <i class="social-icons social-icons-long-arrow-right"></i>
      </a></p>
  </div>
</article>
